
<!-- footer -->
<div class="spdx-footer-wrapper">
  
  <footer class="container">

    <ul class="sixteen columns">
      <li>
        <a href="/">Spandex</a>
      </li>
      <li>
        <a href="/about">About</a>
      </li>
    </ul>

  </footer>

</div>
<!-- end footer -->