
<!-- header -->
<header class="container">

  <ul class="sixteen columns">
    <li>
      <a href="/">Spandex</a>
    </li>
    <li>
      <a href="/about">About</a>
    </li>
  </ul>

</header>
<!-- end header -->